# Database credentials for docker-compose
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# Used by FastAPI to connect to Postgres
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db/postgres